.content {
	display: flex;
	flex-direction: column;
	justify-content:center;
	/* margin-top: 128rpx; */
}

/* 头部 logo */
.header {
	width: 100%;
	height: 400rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header image{
	width:160rpx;
	height:160rpx;
	border-radius:50%;
	background: #ccc;
}

/* 主体 */
.main {
	display: flex;
	flex-direction: column;
	padding-left: 70rpx;
	padding-right: 70rpx;
}

/* 底部 */
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	margin-top: 64rpx;
	color: rgba(0,0,0,0.7);
	text-align: center;
}
.footer text{
	font-size: 28rpx;
}